	.logotipo{
		width: 5rem;
		height: auto;
	}	

@font-face {
     font-family: BebasNeue;
     src: url('fonts/BebasNeue.otf');
}

#social { 
	text-align: center;
	background-color: #000000;
	padding: 5rem 0rem;
}

.titulo-section {

	font-family: BebasNeue;
	font-size: 32pt;
	color: #ffffff;
	font-weight: bold;
}

#social a{
	font-family: : '';
	color: #bdc3c7;
	font-size: 3rem;
	margin: 5rem;
}

#social a :hover{
	color: #ff0000;
	transition: 0.5s;
}



.Social-text{
	font-family: BebasNeue;
	font-size: 15pt;
	color: #ecf0f1;
	font-weight: bold;
}

#institucional{
	text-align: center;
}


.contaner{
	align-content: center;
	background-color: #ecf0f1;
	margin: 2,5rem;
	padding-bottom: 3rem;

}

.esq{
	padding: 5rem, 0;
}

.dir{
	padding: 5rem, 0;
}

.esq h2{
	color:#c0392b;
	font-style: bold;
}

.esq h3{
	color:#ecf0f1;
}

.esq p{
	color: #bdc3c7;
}

#servicos{
	text-align: center;
	padding-top: 5rem;
	padding-bottom: 5rem;
}

.servti h2{
	color: #c0392b;
}

.serv1{
	align-content: center;
	corlor: #c0392b;
	padding: 3rem;
}

	.serv1 h2{
		font-size: 30pt;
		color: #c0392b;}

	.serv1 h4{
		color: #34495e;}

.serv2{
	align-content: center;
	corlor: #c0392b;
	padding: 3rem;
}

		.serv2 h2{
		font-size: 30pt;
		color: #c0392b;}

	.serv2 h4{
		color: #34495e;}

.serv3{
	align-content: center;
	corlor: #c0392b;
	padding: 3rem;
}

	.serv3 h2{
		font-size: 30pt;
		color: #c0392b;}

	.serv3 h4{
		color: #34495e;}



.inst{
	padding: 3rem;
	background-color: #2c3e50;
}